*\#*
._*
*.bbl
*.ilg
*.log      
*.blg
*.ind
*.lot
*.toc
*.acn
*.glo
*.ist
*.out
*.aux
*.idx
*.lof
*.pdf
*.npy

PyPl_upload.sh
SGEN_Py.egg-info/*
dist/*


# Build artifacts
*.o
*.a
*.so
*.dll
*.dylib
*.exe
wheelhouse/*

# IDE files
*.iml

# Temporary files
build*
*.tmp
*.swp
*.bak
*.log
*.pid
*.seed
*.stackdump

# Data files
*.csv
*.dat
data/*


# tests
python_examples/_*

# Jupyter notebook checkpoints
*.ipynb_checkpoints*

*__pycache__*

# Images and movies
*.gif
